


<% stylesheetHead 'radiologist' %>
<% stylesheetHead 'bootstrap.min' %>
<% stylesheetHead 'font-awesome.min' %>
<% stylesheetHead 'ionicons.min' %>
<% stylesheetHead 'datatables/dataTables.bootstrap' %>
<% stylesheetHead 'jquery.multiselect' %>
<% stylesheetHead 'jquery-ui' %>
<% stylesheetHead 'AdminLTE' %>
<% stylesheetHead 'custom_popup' %>

<%-# javascriptHead 'jquery.min' -%>

<% content_for :head_javascript_section do %>
  <script type='text/javascript'>
  $(document).ready(function () {
  	
            $("#example1 tr td:first-child a").click(function (e) {
                e.preventDefault();
                $("#PopupDiv").modal('show');
            });


        });
  </script>
 <% end %>

<!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Radiologist<small></small> </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                    <li class="active">Radiologist1</li>
                </ol>
            </section>
            
<!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div>
                            <div class="col-xs-3">
                                <select id="DdlStatusSrch" title="Basic example" multiple="multiple" name="example-basic" size="5">
                                    <option value="option1">Delay</option>
                                    <option value="option2">InProgress</option>
                                    <option value="option2">Final</option>
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <select id="DdlCaseIdSrch" title="Basic example" multiple="multiple" name="example-basic" size="5">
                                    <option value="option1">16853</option>
                                    <option value="option2">16854</option>
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <select id="DdlProcDescSrch" title="Basic example" multiple="multiple" name="example-basic" size="5">
                                    <option value="option1">CT Scan for Needle blopsy</option>
                                    <option value="option2">MR Scan for Needle blopsy</option>
                                </select>
                            </div>

                            <input type="button" id="BtnSearch" value="Filter" />
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-xs-12">
                        <div class="box">
                            <!--<div class="box-header">
              <h3 class="box-title">Data Table With Full Features</h3>
            </div>-->
                            <!-- /.box-header -->
                            <div class="box-body table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>A#</th>
                                            <th>MRN</th>
                                            <th>Proc Description</th>
                                            <th>
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>Pat Class</th>
                                                            <th>Appt Time</th>
                                                            <th>Scheduled Stop</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </th>
                                            <th>Sign In</th>
                                            <th>Check In</th>
                                            <th>Begin Time</th>
                                            <th>Complete Time</th>
                                            <th>Tech</th>
                                            <th>Performing Rad</th>
                                            <th>Finalizing Rad</th>
                                            <th>Attending Clinician</th>
                                            <th>Requesting Physician</th>
                                            <th>Delay</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="newpage.html" target="_new">16853</a></td>
                                            <td>340543</td>
                                            <td>CT Scan for Needle blopsy</td>
                                            <td>
                                                <div class="wizard"><a class="current"><span class="badge"></span></a><a class="current"><span class="badge"></span></a><a class="current"><span class="badge badge-inverse"></span></a><a><span class="badge"></span></a></div>
                                            </td>
                                            <td>Friday 01:56</td>
                                            <td>-</td>
                                            <td>Friday 02:44</td>
                                            <td>Friday 04:50</td>
                                            <td>Mariah Cummings</td>
                                            <td>-</td>
                                            <td>Daulton Gerlach</td>
                                            <td>-</td>
                                            <td>Zora Yundit</td>
                                            <td>Waited for Consent</td>
                                            <td>Final</td>
                                        </tr>
                                        <tr>
                                            <td><a href="newpage.html" target="_new">16854</a></td>
                                            <td>340543</td>
                                            <td>CT Scan for Needle blopsy</td>
                                            <td>
                                                <div class="wizard"><a class="current"><span class="badge"></span></a><a class="current"><span class="badge"></span></a><a class="red"><span class="badge badge-inverse"></span></a><a><span class="badge"></span></a></div>
                                            </td>
                                            <td>Friday 01:56</td>
                                            <td>-</td>
                                            <td>Friday 02:44</td>
                                            <td>Friday 04:50</td>
                                            <td>Mariah Cummings</td>
                                            <td>-</td>
                                            <td>Daulton Gerlach</td>
                                            <td>-</td>
                                            <td>Zora Yundit</td>
                                            <td>Waited for Consent</td>
                                            <td>Final</td>
                                        </tr>
                                        <tr>
                                            <td><a href="newpage.html" target="_new">16855</a></td>
                                            <td>340543</td>
                                            <td>CT Scan for Needle blopsy</td>
                                            <td>
                                                <div class="wizard"><a class="current"><span class="badge"></span></a><a class="current"><span class="badge"></span></a><a class="current"><span class="badge badge-inverse"></span></a><a class="green"><i class="fa fa-check" style="display: table-cell; float: right; margin: 8px;"></i></a></div>
                                            </td>
                                            <td>Friday 01:56</td>
                                            <td>-</td>
                                            <td>Friday 02:44</td>
                                            <td>Friday 04:50</td>
                                            <td>Mariah Cummings</td>
                                            <td>-</td>
                                            <td>Daulton Gerlach</td>
                                            <td>-</td>
                                            <td>Zora Yundit</td>
                                            <td>Waited for Consent</td>
                                            <td>Final</td>
                                        </tr>
                                        <tr>
                                            <td><a href="newpage.html" target="_new">16853</a></td>
                                            <td>340543</td>
                                            <td>CT Scan for Needle blopsy</td>
                                            <td>
                                                <div class="wizard"><a class="current"><span class="badge"></span></a><a class="current"><span class="badge"></span></a><a class="current"><span class="badge badge-inverse"></span></a><a><span class="badge"></span></a></div>
                                            </td>
                                            <td>Friday 01:56</td>
                                            <td>-</td>
                                            <td>Friday 02:44</td>
                                            <td>Friday 04:50</td>
                                            <td>Mariah Cummings</td>
                                            <td>-</td>
                                            <td>Daulton Gerlach</td>
                                            <td>-</td>
                                            <td>Zora Yundit</td>
                                            <td>Waited for Consent</td>
                                            <td>Final</td>
                                        </tr>
                                        <tr>
                                            <td><a href="newpage.html" target="_new">16853</a></td>
                                            <td>340543</td>
                                            <td>CT Scan for Needle blopsy</td>
                                            <td>
                                                <div class="wizard"><a class="current"><span class="badge"></span></a><a class="current"><span class="badge"></span></a><a class="red"><span class="badge badge-inverse"></span></a><a><span class="badge"></span></a></div>
                                            </td>
                                            <td>Friday 01:56</td>
                                            <td>-</td>
                                            <td>Friday 02:44</td>
                                            <td>Friday 04:50</td>
                                            <td>Mariah Cummings</td>
                                            <td>-</td>
                                            <td>Daulton Gerlach</td>
                                            <td>-</td>
                                            <td>Zora Yundit</td>
                                            <td>Waited for Consent</td>
                                            <td>Final</td>
                                        </tr>
                                        <tr>
                                            <td><a href="newpage.html" target="_new">16853</a></td>
                                            <td>340543</td>
                                            <td>CT Scan for Needle blopsy</td>
                                            <td>
                                                <div class="wizard"><a class="current"><span class="badge"></span></a><a class="current"><span class="badge"></span></a><a class="current"><span class="badge badge-inverse"></span></a><a class="green"><i class="fa fa-check" style="display: table-cell; float: right; margin: 8px;"></i></a></div>
                                            </td>
                                            <td>Friday 01:56</td>
                                            <td>-</td>
                                            <td>Friday 02:44</td>
                                            <td>Friday 04:50</td>
                                            <td>Mariah Cummings</td>
                                            <td>-</td>
                                            <td>Daulton Gerlach</td>
                                            <td>-</td>
                                            <td>Zora Yundit</td>
                                            <td>Waited for Consent</td>
                                            <td>Final</td>
                                        </tr>
                                        <tr>
                                            <td><a href="newpage.html" target="_new">16853</a></td>
                                            <td>340543</td>
                                            <td>CT Scan for Needle blopsy</td>
                                            <td>
                                                <div class="wizard"><a class="current"><span class="badge"></span></a><a class="current"><span class="badge"></span></a><a class="current"><span class="badge badge-inverse"></span></a><a><span class="badge"></span></a></div>
                                            </td>
                                            <td>Friday 01:56</td>
                                            <td>-</td>
                                            <td>Friday 02:44</td>
                                            <td>Friday 04:50</td>
                                            <td>Mariah Cummings</td>
                                            <td>-</td>
                                            <td>Daulton Gerlach</td>
                                            <td>-</td>
                                            <td>Zora Yundit</td>
                                            <td>Waited for Consent</td>
                                            <td>Final</td>
                                        </tr>
                                        <tr>
                                            <td><a href="newpage.html" target="_new">16853</a></td>
                                            <td>340543</td>
                                            <td>CT Scan for Needle blopsy</td>
                                            <td>
                                                <div class="wizard"><a class="current"><span class="badge"></span></a><a class="current"><span class="badge"></span></a><a class="red"><span class="badge badge-inverse"></span></a><a><span class="badge"></span></a></div>
                                            </td>
                                            <td>Friday 01:56</td>
                                            <td>-</td>
                                            <td>Friday 02:44</td>
                                            <td>Friday 04:50</td>
                                            <td>Mariah Cummings</td>
                                            <td>-</td>
                                            <td>Daulton Gerlach</td>
                                            <td>-</td>
                                            <td>Zora Yundit</td>
                                            <td>Waited for Consent</td>
                                            <td>Final</td>
                                        </tr>
                                        <tr>
                                            <td><a href="newpage.html" target="_new">16853</a></td>
                                            <td>340543</td>
                                            <td>CT Scan for Needle blopsy</td>
                                            <td>
                                                <div class="wizard"><a class="current"><span class="badge"></span></a><a class="current"><span class="badge"></span></a><a class="current"><span class="badge badge-inverse"></span></a><a class="green"><i class="fa fa-check" style="display: table-cell; float: right; margin: 8px;"></i></a></div>
                                            </td>
                                            <td>Friday 01:56</td>
                                            <td>-</td>
                                            <td>Friday 02:44</td>
                                            <td>Friday 04:50</td>
                                            <td>Mariah Cummings</td>
                                            <td>-</td>
                                            <td>Daulton Gerlach</td>
                                            <td>-</td>
                                            <td>Zora Yundit</td>
                                            <td>Waited for Consent</td>
                                            <td>Final</td>
                                        </tr>
                                    </tbody>
                                    <!--<tfoot>
                  <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                  </tr>
                </tfoot>-->
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>

                        <!-- /.box -->
                    </div>
                </div>



            </section>
            <!-- /.content -->
            

<div class="modal fade" id="PopupDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">X</button>
                    <h4 id="AcrLabel" class="modal-title clrwhite">Exam Details</h4>
                    <!-- color changed-->
                </div>
                <div class="modal-body">
                    <div>
                        <section class="content">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- general form elements disabled -->
                                    <!--<h1>Exam Details</h1>-->
                                    <h3><font color="green">Delivered</font></h3>
                                    <div class="wizard">
                                        <a class="current"><span class="badge"></span></a>
                                        <a class="current"><span class="badge"></span></a>
                                        <a class="current"><span class="badge badge-inverse"></span></a>
                                        <a class="current green"><span class="badge"></span></a>
                                    </div>
                                    <!-- /.box -->
                                    <h3><font color="purple">Delivered</font></h3>
                                    <h4><font color="purple">Signed by: Mr Hello World</font></h4>
                                    <div>

                                        <table border="0" cellpadding="0" cellspacing="0" width="489" style='border-collapse: collapse; table-layout: fixed; width: 367pt'>
                                            <col width="193" style='mso-width-source: userset; mso-width-alt: 7058; width: 145pt'>
                                            <col width="196" style='mso-width-source: userset; mso-width-alt: 7168; width: 147pt'>
                                            <col width="100" style='mso-width-source: userset; mso-width-alt: 3657; width: 75pt'>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" width="193" style='height: 15.75pt; width: 145pt'>Highlighted
  tracker on top</td>
                                                <td class="xl66" width="196" style='border-left: none; width: 147pt'>&nbsp;</td>
                                                <td class="xl67" width="100" style='border-left: none; width: 75pt'>Type</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>Exam
  Information</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Sub group</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Procedure</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Patient type class</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Trauma Emg</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Resource</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Modality</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>Staff</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Sub group</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Techno</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Finalizing
  Radiologist</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>&nbsp;</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>Time</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Sub group</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Order</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Sign In</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Appointment</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Begin Exam</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>End Exam</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>First Final</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Last Final</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>Metrics</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Sub group</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Sche Event to app
  time</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Appt to Begin</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Total patient Wait</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Exam Duration</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Final Turnaround Time</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>Indentifiers</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Sub group</td>
                                            </tr>
                                            <tr height="21" style='height: 15.75pt'>
                                                <td height="21" class="xl65" style='height: 15.75pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>Accession#</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <tr height="20" style='height: 15.0pt'>
                                                <td height="20" class="xl66" style='height: 15.0pt; border-top: none'>&nbsp;</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>MRN(AI:MWebWare
  Hospital)</td>
                                                <td class="xl66" style='border-top: none; border-left: none'>label</td>
                                            </tr>
                                            <![if supportMisalignedColumns]>
 <tr height="0" style='display: none'>
     <td width="193" style='width: 145pt'></td>
     <td width="196" style='width: 147pt'></td>
     <td width="100" style='width: 75pt'></td>
 </tr>
                                            <![endif]>
                                        </table>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <!-- general form elements disabled -->
                                    Column 2
		  <!-- Div#1 -->
                                    <div>
                                        <h2>Report History</h2>
                                        <b>status:</b>Final<br>
                                        <b>Time:</b>2015-10-21 14:10:35<br>
                                            <b>Radiologist:</b>Dr XML ABC<br>
                                                <b>Radiologist:</b>Dr ABC ABC<br></br>
                                            </br>
                                        </br>
                                        <p>
                                            An Accountable Care Organization (ACO), according to the Centers for Medicare & Medicaid Services (CMS) "is an organization of health care providers that agrees to be accountable for the quality, cost, and overall care of Medicare beneficiaries who are enrolled in the traditional fee-for-service program who are assigned to it." Under the health care reform legislation passed in March 2010, the Medicare program is authorized to contract with ACOs.
                                        </p>




                                    </div>
                                    <!-- Div#2 -->
                                    <div>
                                        <h2>Report History</h2>
                                        <b>status:</b>Pref Final<br>
                                        <b>Time:</b>2015-9-21 14:10:35<br>
                                            <b>Radiologist:</b>Dr XML ABC<br>
                                                <b>Radiologist:</b>Dr ABC ABC<br></br>
                                            </br>
                                        </br>
                                        <p>
                                            An Accountable Care Organization (ACO), according to the Centers for Medicare & Medicaid Services (CMS) "is an organization of health care providers that agrees to be accountable for the quality, cost, and overall care of Medicare beneficiaries who are enrolled in the traditional fee-for-service program who are assigned to it." Under the health care reform legislation passed in March 2010, the Medicare program is authorized to contract with ACOs.
                                        </p>




                                    </div>

                                    <!-- Div#3 -->

                                    <div>
                                        <h2>Report History</h2>
                                        <b>status:</b>Draft<br>
                                        <b>Time:</b>2015-8-21 14:10:35<br>
                                            <b>Radiologist:</b>Dr XML ABC<br>
                                                <b>Radiologist:</b>Dr ABC ABC<br></br>
                                            </br>
                                        </br>
                                        <p>
                                            An Accountable Care Organization (ACO), according to the Centers for Medicare & Medicaid Services (CMS) "is an organization of health care providers that agrees to be accountable for the quality, cost, and overall care of Medicare beneficiaries who are enrolled in the traditional fee-for-service program who are assigned to it." Under the health care reform legislation passed in March 2010, the Medicare program is authorized to contract with ACOs.
                                        </p>

                                    </div>
                                    <!-- /.box -->
                                </div>

                            </div>
                            <!-- /.row -->
                        </section>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="Btns BtnClose pull-right" id="" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>-->

<% javascriptBody 'http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js' %>
<% javascriptBody 'bootstrap.min' %>

<%-# javascriptBody 'plugins/datatables/jquery.dataTables' -%>
<%-# javascriptBody 'plugins/datatables/dataTables.bootstrap' -%>
<% javascriptBody 'AdminLTE/app' %>

<% javascriptBody 'jquery-ui-1.10.3.min' %>
<% javascriptBody 'jquery.multiselect' %>

<% content_for :body_javascript_section do %>
<%= javascript_include_tag 'plugins/datatables/jquery.dataTables', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'plugins/datatables/dataTables.bootstrap', 'data-turbolinks-track' => false  %>
  <script type='text/javascript'>
  $(document).ready(function(){
  	debugger;
  	$("#example1").dataTable();
            $('#example2').dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false
            });

            $("#DdlStatusSrch").multiselect({
                noneSelectedText: "Select Status"
            });
            $("#DdlCaseIdSrch").multiselect({
                noneSelectedText: "Select CaseId"
            });
            $("#DdlProcDescSrch").multiselect({
                noneSelectedText: "Select Proc Description"
            });
  });
    $(function () {
            
        });
  </script>
<% end %>  

