

<% stylesheetHead 'bootstrap.min' %>
<% stylesheetHead 'font-awesome.min' %>
<% stylesheetHead 'ionicons.min' %>
<% stylesheetHead 'radiologist' %>
<% stylesheetHead 'jquery.multiselect' %>
<% stylesheetHead 'jqgrid_style/ui.jqgrid' %>
<% stylesheetHead 'jquery-ui' %>
<% stylesheetHead 'AdminLTE' %>
<% stylesheetHead 'custom_popup' %>


<%-# javascriptHead 'jquery.min' -%>

<% content_for :head_javascript_section do %>
	<style>
		table#tblSchReg tbody tr td:first-child a{
			color:skyblue;
		}
		
		#fbox_tblSchReg table tbody tr td.columns select{
			max-width:160px;
		}
		
	</style>
  <script type='text/javascript'>
  $(document).ready(function () {
  	
            //$("#tblSchReg tr td:first-child a").click(function (e) {
            //    e.preventDefault();
            //    $("#ExamDetailPopupDiv").modal('show');
            //});


        });
  </script>
 <% end %>

<!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Scheduled-Registrar </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                    <li class="active">Scheduled-Registrar</li>
                </ol>
            </section>
			
            
<!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12" style=" text-align: center;">
                        <div>
                        	<div class="col-xs-4">
                                <select id="DdlAccessionIdSrch" title="Basic example" multiple="multiple" name="example-basic" size="5">
                                </select>
                            </div>
                            <div class="col-xs-4" >
                                <select id="DdlStatusSrch" title="Basic example" multiple="multiple" name="example-basic" >
                                    <option value="status_1">Delay</option>
                                    <option value="status_2">InProgress</option>
                                    <option value="status_3">Final</option>
                                </select>
                            </div> 
							<div class="col-xs-4" style=" text-align: left;">
								<input type="button" id="BtnFilter" value="Filter" />
							</div>
                            
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-xs-12">
                        <div class="box">
                            <!--<div class="box-header">
              <h3 class="box-title">Data Table With Full Features</h3>
            </div>-->
                            <!-- /.box-header -->
                            <div id="schRegGridContainer" class="box-body table-responsive">
                                <table id="tblSchReg" class="table table-bordered table-striped">
                                </table>
                                <div id="tblSchRegpager"></div>
                            </div>
                            <!-- /.box-body -->
                        </div>

                        <!-- /.box -->
                    </div>
                </div>



            </section>
            <!-- /.content -->
			

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>-->

<% javascriptBody 'jquery.min.js' %>
<% javascriptBody 'bootstrap.min' %>
<% javascriptBody 'AdminLTE/app' %>

<% javascriptBody 'jquery-ui-1.10.3.min' %>
<% javascriptBody 'jquery.multiselect' %>

<% content_for :body_javascript_section do %>
	<%= javascript_include_tag 'jqgrid/grid.locale-en.js' %>
	<%= javascript_include_tag 'jqgrid/jquery.jqGrid.js' %>
	<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
	
  <script type='text/javascript'>
  $(document).ready(function(){
  	
  	var ddlAccessionSrch_Var = $("#DdlAccessionIdSrch").multiselect({
        							noneSelectedText: "Select Accession"
     							});
  	var ddlStatusSrch_Var = $("#DdlStatusSrch").multiselect({
        						noneSelectedText: "Select Status"
     						});
    
    //===Initializing Grid first time===
    createOrUpdateRadExamGrid();
    //===End of Initializing Grid first time===
	
  	//========Search functionality=================
  	$("#BtnFilter").click(function(){
  		createOrUpdateRadExamGrid ();
  	});
  	//=====End Search functionality==============
  	
  	
  	function makeIdAsLinkFormatter( cellvalue, option, rowobj ){
  		return '<a class="" id="lnk$#'+ cellvalue +'" onclick="showExamDetail(this.id)">' + cellvalue + '</a>';
  	}
  	
  	function parseStatusOfExamFormatter (cellvalue, option, rowobj ) {
		
		var cellvalue_array = cellvalue.split(',');
		//(cellvalue_array[0].split('->')[1] != "") ? cellvalue_array[0].split('->')[1] : cellvalue_array[1].split('->')[1];
		firstStageTitle = cellvalue_array[0].split('->')[1];
		secondStageTitle = cellvalue_array[1].split('->')[1];
		thirdStageTitle = cellvalue_array[2].split('->')[1];
		fourthStageTitle = cellvalue_array[3].split('->')[1];
		fifthStageTitle = cellvalue_array[4].split('->')[1];
		sixthStageTitle = cellvalue_array[5].split('->')[1];

		if(cellvalue_array[cellvalue_array.length -1] == "order"){
			return '<div class="wizard"><a class="green" title='+ firstStageTitle +'><span class="badge"></span></a><a class="grey" title='+ secondStageTitle +'><span class="badge"></span></a><a class="grey" title='+ thirdStageTitle +'><span class="badge"></span></a><a class="grey" title='+ fourthStageTitle +'><span class="badge"></span></a><a class="grey" title='+ fifthStageTitle +'><span class="badge badge-inverse"></span></a><a title='+ sixthStageTitle +'><span class="badge"></span></a></div>';
		}
		else if(cellvalue_array[cellvalue_array.length -1]=="scheduled"){
			return '<div class="wizard"><a class="current" title='+ firstStageTitle +'><span class="badge"></span></a><a class="green" title='+ secondStageTitle +'><span class="badge"></span></a><a class="grey" title='+ thirdStageTitle +'><span class="badge"></span></a><a class="grey" title='+ fourthStageTitle +'><span class="badge"></span></a><a class="grey" title='+ fifthStageTitle +'><span class="badge badge-inverse"></span></a><a title='+ sixthStageTitle +'><span class="badge"></span></a></div>';
		}
		else if(cellvalue_array[cellvalue_array.length -1] == "arrived"){
			return '<div class="wizard"><a class="current" title='+ firstStageTitle +'><span class="badge"></span></a><a class="current" title='+ secondStageTitle +'><span class="badge"></span></a><a class="green" title='+ thirdStageTitle +'><span class="badge"></span></a><a class="grey" title='+ fourthStageTitle +'><span class="badge"></span></a><a class="grey" title='+ fifthStageTitle +'><span class="badge badge-inverse"></span></a><a title='+ sixthStageTitle +'><span class="badge"></span></a></div>';
		}
		else if(cellvalue_array[cellvalue_array.length -1] == "begin"){
			return '<div class="wizard"><a class="current" title='+ firstStageTitle +'><span class="badge"></span></a><a class="current" title='+ secondStageTitle +'><span class="badge"></span></a><a class="current" title='+ thirdStageTitle +'><span class="badge"></span></a><a class="green" title='+ fourthStageTitle +'><span class="badge"></span></a><a class="grey" title='+ fifthStageTitle +'><span class="badge badge-inverse"></span></a><a title='+ sixthStageTitle +'><span class="badge"></span></a></div>';
		}
		else if(cellvalue_array[cellvalue_array.length-1] == "complete" || cellvalue_array[cellvalue_array.length-1] == "prelim"){

			return '<div class="wizard"><a class="current" title='+ firstStageTitle +'><span class="badge"></span></a><a class="current" title='+ secondStageTitle +'><span class="badge"></span></a><a class="current" title='+ thirdStageTitle +'><span class="badge"></span></a><a class="current" title='+ fourthStageTitle +'><span class="badge"></span></a><a class="green" title='+ fifthStageTitle +'><span class="badge badge-inverse"></span></a><a title='+ sixthStageTitle +'><span class="badge"></span></a></div>';
		}
		else if(cellvalue_array[cellvalue_array.length-1]=="final"){
			return '<div class="wizard"><a class="current" title='+ firstStageTitle +'><span class="badge"></span></a><a class="current" title='+ secondStageTitle +'><span class="badge"></span></a><a class="current" title='+ thirdStageTitle +'><span class="badge"></span></a><a class="current" title='+ fourthStageTitle +'><span class="badge"></span></a><a class="current" title='+ fifthStageTitle +'><span class="badge badge-inverse"></span></a><a class="green" title='+ sixthStageTitle +'><i class="fa fa-check" style="display: table-cell; float: right; margin: 8px;"></i></a></div>';
		}
		else if(cellvalue_array[cellvalue_array.length-1]=="cancelled"){
			
			var cancelledAtStageClass;
			if(sixthStageTitle == ""){
				if(fifthStageTitle == ""){
					if(fourthStageTitle == ""){
						if(thirdStageTitle == ""){
							if(secondStageTitle == ""){
								cancelledAtStageClass = "firstStageClass";
							}
							else{
								cancelledAtStageClass = "secondStageClass";
							}
						}
						else{
							cancelledAtStageClass = "thirdStageClass";
						}
					}
					else{
						cancelledAtStageClass = "fourthStageClass";
					}
				}
				else{
					cancelledAtStageClass = "fifthStageClass";
				}
			}
			else{
				cancelledAtStageClass = "sixthStageClass";
			}
			
			var graphStatusUI;//GraphUI to be displayed when cancelled status comes.
			if(cancelledAtStageClass == "sixthStageClass"){
				graphStatusUI = $('<div class="wizard"><a class="firstStageClass" title='+ firstStageTitle +'><span class="badge"></span></a><a class="secondStageClass" title='+ secondStageTitle +'><span class="badge"></span></a><a class="thirdStageClass" title='+ thirdStageTitle +'><span class="badge"></span></a><a class="fourthStageClass" title='+ fourthStageTitle +'><span class="badge"></span></a><a class="fifthStageClass" title='+ fifthStageTitle +'><span class="badge badge-inverse"></span></a><a class="sixthStageClass" title='+ sixthStageTitle +'><i class="fa fa-check" style="display: table-cell; float: right; margin: 8px;"></i></a></div>');
			}
			else{
				graphStatusUI = $('<div class="wizard"><a class="firstStageClass" title='+ firstStageTitle +'><span class="badge"></span></a><a class="secondStageClass" title='+ secondStageTitle +'><span class="badge"></span></a><a class="thirdStageClass" title='+ thirdStageTitle +'><span class="badge"></span></a><a class="fourthStageClass" title='+ fourthStageTitle +'><span class="badge"></span></a><a class="fifthStageClass" title='+ fifthStageTitle +'><span class="badge badge-inverse"></span></a><a class="sixthStageClass" title='+ sixthStageTitle +'></a></div>');
			}

			cancelledStageIndex = $(graphStatusUI).find('a.'+ cancelledAtStageClass +'').index();
			$(graphStatusUI).find('a:lt('+cancelledStageIndex+')').addClass("current");
			$(graphStatusUI).find('a:eq('+cancelledStageIndex+')').addClass("red");
			$(graphStatusUI).find('a:gt('+cancelledStageIndex+')').addClass("grey");
			
			 return $(graphStatusUI).prop('outerHTML');
		}
		else{
			return 'Can not parse "' + cellvalue + '" status';
		}
	  }
  	
  	function createOrUpdateRadExamGrid () {
		$('#schRegGridContainer').html('').append('<table id="tblSchReg" class="scroll"></table> <div id="tblSchRegpager" class="scroll text-center"></div>');
        $("#tblSchReg").jqGrid({
            datatype: "json",
            url: '/home/get_jqgridScheReg/',
            mtype: 'POST',
			postData: {
                accession: $("#DdlAccessionIdSrch").val(),
                status: $("#DdlStatusSrch").val(),
                authenticity_token: window._token
            },
            colNames: ['A#','Progress Status','Current Status','Status Last Changed','Patient Name','Patient MRN','Patient DOB','Appt Time','Begin Exam','End Exam','SignIn','CheckIn','Site','Patient Class','Patient Type','Patient Location at exam','Radiology Department','Exam Resource','Modality','Proc Code','Proc Description','Ordering Provider','Scheduler','Technologist','PACS Image Count'],
            colModel: [
                { name: 'accession', index: 'accession', align: 'center', width:40, fixed:true, formatter: makeIdAsLinkFormatter }
				,{ name: 'graph_status', index: 'graph_status', align: 'center', width:325, fixed:true, formatter: parseStatusOfExamFormatter }
				,{ name: 'current_status', index: 'current_status', align: 'center', width:100, fixed:true }
				,{ name: 'updated_at', index: 'updated_at', align: 'center', width:150, fixed:true , formatter:format_date_time }
				,{ name: 'patient_name', index: 'patient_name', align: 'center', width:140, fixed:true }
                ,{ name: 'mrn', index: 'mrn', align: 'center', width:120, fixed:true }
				,{ name: 'birthdate', index: 'birthdate', align: 'center', width:140, fixed:true }
                ,{ name: 'appt_time', index: 'appt_time', align: 'center', width:150, fixed:true, formatter:format_date_time }
				,{ name: 'begin_exam', index: 'begin_exam', align: 'center', width:150, fixed:true, formatter: TimeFromDateTime }
				,{ name: 'end_exam', index: 'end_exam', align: 'center', width:150, fixed:true , formatter: TimeFromDateTime}
				,{ name: 'sign_in', index: 'sign_in', align: 'center', width:150, fixed:true , formatter: TimeFromDateTime}
                ,{ name: 'check_in', index: 'check_in', align: 'center', width:140, fixed:true , formatter: TimeFromDateTime}
				,{ name: 'site_name', index: 'site_name', align: 'center', width:80, fixed:true }
				,{ name: 'patient_class', index: 'patient_class', align: 'center', width:80, fixed:true }
				,{ name: 'patient_type', index: 'patient_type', align: 'center', width:80, fixed:true }
				,{ name: 'patient_location_at_exam', index: 'patient_location_at_exam', align: 'center', width:150, fixed:true }
				,{ name: 'radiology_department', index: 'radiology_department', align: 'center', width:150, fixed:true }
				,{ name: 'resource_name', index: 'resource_name', align: 'center', width:130, fixed:true }
				,{ name: 'modality', index: 'modality', align: 'center', width:80, fixed:true }			
                ,{ name: 'code', index: 'code', align: 'center', width:80, fixed:true }
                ,{ name: 'description', index: 'description', align: 'center', width:150, fixed:true }	
				,{ name: 'ordering_provider', index: 'ordering_provider', align: 'center', width:150, fixed:true }
				,{ name: 'scheduler', index: 'scheduler', align: 'center', width:80, fixed:true }
				,{ name: 'technologist', index: 'technologist', align: 'center', width:80, fixed:true }
                ,{ name: 'pacs_image_count', index: 'pacs_image_count', align: 'center', width:140, fixed:true }
                    
                
            ],
            jsonReader: { repeatitems: false, id: "id", root: function (obj) { return obj.rows; }, page: function (obj) { return obj.page; }, total: function (obj) { return obj.total; },
    records: function (obj) { return (obj.rows.length ); }
			},
			beforeSelectRow: function() { return false; },
            multiselect: false,
            autowidth: true,
            //width:'90%',
            scrollOffset: 0,
            rowNum: 20,
            rowList: [20, 30, 40, 50],
            height: '250',
            sortname: 'Id',
            sortorder: "asc",
            viewrecords: true,
            ignoreCase: true,
            pager: '#tblSchRegpager',
            caption: "Exam Details",
            rownumbers: true,
            loadonce:true,
            loadComplete: function (data) {

                var datacount = $("#tblSchReg").getGridParam("reccount");
                if (datacount == 0) {
                    $('.ui-jqgrid-bdiv').removeClass('JqgridAutoHeight'); 
                    $('#tblSchReg').jqGrid('setGridHeight','250'); 
                }
                if (datacount > 0) {   /*grid heigth */
               	
					$('#tblSchReg').jqGrid('setGridHeight','auto');
                    //$('.ui-jqgrid-bdiv').addClass('JqgridAutoHeight');
                }
                
                //****Binding data to AccessionId dropdown****//
                $("#DdlAccessionIdSrch").empty();
                $.each(data.rows,function(index, value){
                	
                	$("#DdlAccessionIdSrch").append($('<option>', { value: value.accession, text: value.accession }));
                });
                ddlAccessionSrch_Var.multiselect('refresh');
                //****End Binding data to AccessionId dropdown****//
				
				//****Binding data to Status dropdown****//
                $("#DdlStatusSrch").empty();
                var uniqueStatus = $.unique(data.rows.map(function (value) {    				
    				return value.current_status;
    			}));
                $.each(uniqueStatus,function(index, value){
                	
                	$("#DdlStatusSrch").append($('<option>', { value: value, text: value }));
                });
                ddlStatusSrch_Var.multiselect('refresh');
                //****End Binding data to Status dropdown****//
            },
        }).hideCol([ ]).navGrid('#tblSchRegpager', {
            edit: false, add: false, del: false, search: true, refresh: true, beforeRefresh: function () {
                //$("#tblUsersGrid").setGridParam({ postData: { pageXL: '_pageXL' } });
                //$('#pg_UsersGridPager table:eq(1) tr td.nRCls').remove();
            }, afterRefresh: function () {
                //$('#SearchGridPager table:eq(1) tr td.nRCls').remove();
            }
        },
       {}, {}, {}, {
           width: 500, onSearch: function () {
               //$('#pg_UsersGridPager table:eq(1) tr td.nRCls').remove();
               //if ($('#pg_UsersGridPager table:eq(1) tr td.nRCls').length == 0 && $('#fbox_tblUsersGrid').find(':input').eq(2).val() != "") {
                   //$('#pg_UsersGridPager table:eq(1) tr').append('<td class="nRCls"><span class="fntSiz11">Filtered Results Shown. Click on Refresh Data to clear filter.</span></td>');
               //}
               //if ($('#fbox_tblUsersGrid').find(':input').eq(2).val() != "") {
                   //$('.ui-jqdialog-titlebar-close:eq(0)').click();
               //}
           },
           onReset: function () {
               //$('#pg_UsersGridPager table:eq(1) tr td.nRCls').remove();
           }, sopt: ['cn', 'nc']
       });
	   
	   $('.ui-icon-refresh').click(function () {
			$("#tblTechExam").setGridParam({ datatype: 'json', page: 1,postData:{accession:"",status:"",authenticity_token: window._token}}).trigger('reloadGrid');
	   });
	}       

            
            
  });

  </script>
<% end %>  