

<% stylesheetHead 'bootstrap.min' %>
<% stylesheetHead 'font-awesome.min' %>
<% stylesheetHead 'ionicons.min' %>
<% stylesheetHead 'jquery.multiselect' %>
<% stylesheetHead 'jqgrid_style/ui.jqgrid' %>
<% stylesheetHead 'jquery-ui' %>
<% stylesheetHead 'AdminLTE' %>
<% stylesheetHead 'custom_popup' %>


<% content_for :head_javascript_section do %>
  <style>
      table#example1 tbody tr td:first-child a{
          color:skyblue;
      }

      #fbox_example1 table tbody tr td.columns select{
          max-width:160px;
      }

  </style>
  <script type='text/javascript'>
    $(document).ready(function () {

        $("#example1 tr td:first-child a").click(function (e) {

            e.preventDefault();
            $("#ExamDetailPopupDiv").modal('show');
        });

    });
  </script>
<% end %>

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side"> 
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1> Search<small>Preview</small> </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Search</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div id="RowForSearchCriteria" class="row"> 
            <!-- left column --> 

            <!-- right column -->
            <div class="col-md-6"> 
                <!-- general form elements disabled -->
                <div class="box box-warning"> 
                    <!-- <div class="box-header">
                                            <h3 class="box-title">General Elements</h3>
                                        </div> --><!-- /.box-header -->
                    <div class="box-body">
                        <div id="SearchCriteriaContainerDiv">
                          <p> 
hello world
</p>
<div>
  <% 
  puts "kumar garlapally" + @employee.to_json.to_s

%>
    <%= @employee.to_json %>
    <p>Now data</p>
    <%@mysdk.to_json %>
</div>
                        </div>
                    </div>
                    <!-- /.box-body --> 
                </div>

                <!-- /.box --> 
            </div>
            <!--/.col (right) --> 
        </div>
        <!-- /.row --> 

       

    </section>
    <!-- /.content --> 
</aside>
<!-- /.right-side --> 
<!-- /.right-side --> 
</div>
<!-- ./wrapper --> 





<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>-->

<% javascriptBody 'jquery.min.js' %>
<% javascriptBody 'bootstrap.min' %>

<% javascriptBody 'jquery-ui-1.10.3.min' %>
<% javascriptBody 'jquery.multiselect' %>

<% content_for :body_javascript_section do %>
  <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>

<% end %>  
<!-- End of :body_javascript_section -->



